@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

.logo-div {
  display: flex;
  width: 120px;
  background-image: url('/logos/white_text_logo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 120px;
  height: 120px;
}

.sub-logo-div {
  display: flex;
  width: 80px;
  background-image: url('/logos/white_text_logo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 120px;
  height: 100px;
}

.solana-logo {
  width: 100px;
  height: 100px;
  background-image: url('/logos/solana-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-primary {
  background-color: #6442b4;
  border-color: #6442b4;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.uppercase {
  text-transform: uppercase;
}

.opos {
  background-image: url('/logos/opos.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}